extends layout

block content
  .container.mt-5
    .jumbotron.bg-light.p-5.rounded
      h1.display-4.mb-4 Bienvenido al sistema HIS Hospital
      p.lead.mb-4 Sistema de recepci贸n y admisi贸n de pacientes

      hr.my-4

      h2.mb-3 Acciones principales
      .list-group
        a(href="/pacientes").list-group-item.list-group-item-action
          i.fas.fa-user-plus.me-2
          | Admisi贸n
        a(href="/pacientes/nuevo").list-group-item.list-group-item-action
          i.fas.fa-first-aid.me-2
          | Admisi贸n de Urgencias / Guardia