
extends layout

block content
  h1 Bienvenido al sistema HIS Hospital
  p Sistema de recepción y admisión de pacientes

  ul
    li
      a(href="/pacientes") Admisión
    li
      a(href="/pacientes/nuevo") Emergencia 
