extends layout

block content
  h1.display-4.mb-4 Bienvenido al sistema HIS Hospital
  p.lead.mb-5 Sistema de recepción y admisión de pacientes

  .row.justify-content-center.g-4
    .col-md-6.col-lg-5
      .card.h-100.shadow-lg.border-0.bg-white.text-dark 
        .card-body.d-flex.flex-column.align-items-center.justify-content-center
          i.fas.fa-user-plus.fa-4x.mb-3.text-primary
          // Botón de Admisión
          a(href="/pacientes").btn.btn-primary.btn-lg.mt-3 Admisión

  