extends ../layout

block content
  h1 Nuevo Paciente
  form(action="/pacientes/nuevo", method="POST")
    label Nombre:
    input(type="text", name="nombre", required)
    br

    label Apellido:
    input(type="text", name="apellido", required)
    br

    label DNI:
    input(type="text", name="dni", required)
    br

    label Fecha de nacimiento:
    input(type="date", name="fecha_nacimiento", required)
    br

    label Sexo:
    select(name="sexo")
      option(value="M") Masculino
      option(value="F") Femenino
    br

    label Dirección:
    input(type="text", name="direccion")
    br

    label Teléfono:
    input(type="text", name="telefono")
    br

    label Seguro Médico:
    select(name="id_seguro")
      option(value="") -- Ninguno --
      each s in seguros
        option(value=s.id)= s.nombre
    br
    label Número de Afiliado:
    input(type="text", name="nro_afiliado")
    br

    
    div(style="margin-top: 20px")
      a(href="/pacientes", style="margin-right: 10px; padding: 8px 16px; background:#ccc; color:black; text-decoration:none; border-radius:4px;") ← Volver
      button(type="submit", style="padding: 8px 16px; background:#4CAF50; color:white; border:none; border-radius:4px;") Guardar Paciente



